.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 0;
}

.grid-item {
    border: 2px solid black;
    box-sizing: border-box;
}

.grid-item button{
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
}

.grid-item button:disabled {
    cursor: not-allowed;
    color: gray;
}
